{% extends 'layout.html' %}
{% block body %}
        <section class="form signup">
            <header>chat app</header>
            <form action="/login" method="post" enctype="multipart/form-data" autocomplete="off">
                <div class="error-text">This is an error message</div>
                <div class="name-details">
                    <div class="field input">
                        <label>Name</label>
                        <input type="text"name="username" placeholder="Name" required>

                    </div>
                    <div class="field button">
                        <input type="submit" name="submit" value="Continue to Chat">
                    </div>
                </div>
            </form>    
        </section>
    </div>
{% endblock %}