<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Chat App</title>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awsome/5.15.2/css/all.min.css"/>
    </head>
    <body>
        <div class="wrapper" id ="page"onload="loadDoc()" >
        {% block body %}{% endblock %}
        </div>
        <script src="assets/js/pass-show-hide.js"></script>
        <script src="assets/js/users.js"></script>
        <script src="https://use.fontawesome.com/7bee6ff9a8.js"></script>
        <Script>
        
        
        
        </script>
    
    </body>
</html>
    